<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Main Test Suite">
    <test name="SmokeUITest">
        <classes>
            <class name="tests.ui.ProjectCreateCorrectName_BoundaryTest"></class>
            <class name="tests.ui.CustomFieldsUpgradeSubscription_DialogWindowTest"></class>
            <class name="tests.ui.NegativeBoundaryTest"></class>
            <class name="tests.ui.NegativeLoginTest"></class>
            <class name="tests.ui.FailedLoginIncorrectPasswordTest"></class>
            <class name="tests.ui.ProjectCreated_AlertTest"></class>
            <class name="tests.ui.ProjectCreateIncorrectName_BoundaryTest"></class>
            <class name="tests.ui.TestCase_CRUDTest"></class>
            <class name="tests.ui.TestCaseImport_UploadTest"></class>
            <class name="tests.ui.TestCaseImport_Upload_XLSTest"></class>
        </classes>
    </test>

    <test name="SmokeApiTest">
           <classes>
            <class name="tests.api.DeleteSuiteProjectTest"></class>
            <class name="tests.api.GetAllSuitesTest"></class>
            <class name="tests.api.GetProjectByCodeTest"></class>
            <class name="tests.api.PostCreateTestSuiteTest"></class>
            <class name="tests.api.PatchUpdateSuiteTest"></class>
            <class name="tests.api.NegativeGetStatusCode_401Test"></class>
            <class name="tests.api.NegativeGetStatusCode_404Test"></class>
            <class name="tests.api.NegativePatchStatusCode_404Test"></class>
            <class name="tests.api.NegativePatchStatusCode_405Test"></class>
        </classes>
    </test>
</suite>